name: Reusable CI-Build

on: 
  workflow_call:
    inputs:
      mvnArgs:
        type: string
        required: false
      cspellExtraWords:
        type: string
        required: false
        description: Path to text file with additional cspell words
      javaVersion:
        type: number
        default: 21
      mvnVersion:
        type: string
        default: 3.9.8
      ivyVersion:
        type: string
        default: dev
        description: the ivy version to use (e.g. dev/nightly/nightly-10/...)
      migrateToLatestIvyVersion :
        type: boolean
        default: false
    secrets:
      mvnArgs:
        required: false

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Check translations by non-weblate author
      run: |
        if [ -n "${{ github.event.pull_request.user.login }}" ]; then
          AUTHOR="${{ github.event.pull_request.user.login }}"
          EVENT_TYPE="pull_request"
        elif [ -n "${{ github.event.pusher.name }}" ]; then
          AUTHOR="${{ github.event.pusher.name }}"
          EVENT_TYPE="push"
        elif [ -n "${{ github.event.sender.login }}" ]; then
          AUTHOR="${{ github.event.sender.login }}"
          EVENT_TYPE="workflow_dispatch_or_other"
        else
          AUTHOR="${{ github.actor }}"
          EVENT_TYPE="fallback"
        fi

        if [ "$AUTHOR" = "weblate" ]; then
          echo "✓ Author is weblate, bypassing README_DE.md check"
        else
          echo "Author is not weblate ($AUTHOR), checking README_DE.md modifications"
          BASE_BRANCH="${{ github.event.repository.default_branch }}"

          git fetch origin $BASE_BRANCH
          if git ls-tree -r origin/$BASE_BRANCH --name-only | grep -q 'README_DE\.md$'; then
            if ! git diff --exit-code origin/$BASE_BRANCH..HEAD -- '**/README_DE.md'; then
              echo "⚠ ERROR: Modification of README_DE.md is not allowed."
              exit 1
            fi
          else
            echo "✓ README_DE.md does not exist on default branch, file can be created."
          fi
        fi

    - name: Setup Java JDK
      uses: actions/setup-java@v4
      with:
        java-version: ${{ inputs.javaVersion }}
        distribution: temurin

    - name: Setup Maven
      uses: stCarolas/setup-maven@v5
      with:
        maven-version: ${{ inputs.mvnVersion }}

    - name: Download latest ivy engine
      if: ! ${{ inputs.migrateToLatestIvyVersion}}
      run: |
        engineUrl="https://dev.axonivy.com/permalink/${{ inputs.ivyVersion }}/axonivy-engine.zip"
        workDir=$(pwd)
        DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )"
        if [ -z "$workDir" ]; then
          workDir=$(mktemp -d -t projectConvertXXX)
        fi
        if [ -z "$gitDir" ]; then
          gitDir="$DIR/repos"
          echo $(mkdir -v -p $DIR/repos)
        fi
        if ! [ -d "${workDir}/engine" ]; then
          echo "Downloading engine from ${engineUrl}"
          (cd "$workDir" && curl --progress-bar -L -O "${engineUrl}") 
          zipped=$(find "${workDir}" -maxdepth 1 -name "*.zip")
          unzip -qq "${zipped}" -d "${workDir}/engine"
          rm "${zipped}"
        fi
        echo "workDir=$workDir" >> $GITHUB_ENV

    - name: Convert projects to latest ivy version
      if: ! ${{ inputs.migrateToLatestIvyVersion}}
      run: |
        export IVY_JAVA_HOME=$JAVA_HOME_21_X64
        gitDir=$(pwd)
        gitName=$(basename ${gitDir})
        echo "Searching projects in ${gitDir}"
        projects=()
        for ivyPref in $(find ${gitDir} -name "ch.ivyteam.ivy.designer.prefs"); do
          project=$(dirname $(dirname $ivyPref))
          if ! [ -f "${project}/pom.xml" ]; then
            continue # prefs file not in natural project structure
          fi
          projects+=("${project}")
        done
        if [ ${#projects[@]} -gt 0 ]; then
          echo "Collected projects: ${projects[@]}"
          ${workDir}/engine/bin/EngineConfigCli migrate-project ${projects[@]}
        fi

    - name: Build with Maven
      run: mvn clean verify --batch-mode --fail-at-end ${{ inputs.mvnArgs }} ${{ secrets.mvnArgs }}

    - name: Check if test results exist
      id: check_test_files
      if: always() && (github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name == github.repository)
      run: |
        if [[ "${{ hashFiles('**/target/*-reports/*.xml') }}" != "" ]]; then
          echo "exists=true" >> $GITHUB_OUTPUT
        else
          echo "exists=false" >> $GITHUB_OUTPUT
        fi

    - name: Remove test summary files
      if: always() && steps.check_test_files.outputs.exists == 'true'
      run: rm -f **/target/*-reports/*-summary.xml

    - name: Publish Unit Test Results with dorny/test-reporter 
      id: test_report
      uses: dorny/test-reporter@v1.9.1
      if: always() && steps.check_test_files.outputs.exists == 'true'
      with:
        name: JUnit Test Results
        reporter: java-junit
        path: '**/target/*-reports/*.xml'
        fail-on-error: 'false'

    - name: Export test results to json file
      if: always() && steps.check_test_files.outputs.exists == 'true'
      run: |
        response=$(curl ${{ steps.test_report.outputs.url }})
        echo $response > test_report.json

    - name: Archive test json file
      uses: actions/upload-artifact@v4
      if: always() && steps.check_test_files.outputs.exists == 'true'
      with:
        name: export-test-json-file
        retention-days: 5
        path: 'test_report.json'

    - name: Publish Unit Test Results with EnricoMi
      uses: EnricoMi/publish-unit-test-result-action@v2
      if: always()
      with:
        files: |
          */target/*-reports/*.xml
          !*/target/*-reports/failsafe-summary.xml
        action_fail: true
  
    - name: Archive build artifact
      uses: actions/upload-artifact@v4
      with:
        path: |
          */target/*.iar
          */target/*-[0-9]*.jar
          *product/target/*.zip

    - name: Archive test reports
      uses: actions/upload-artifact@v4
      if: failure()
      with:
        name: test-reports
        retention-days: 5
        path: |
          */target/testEngineOut.log
          */target/selenide/*
          */target/ivyEngine/deploy/*/*.deploymentLog

    # -------------------------------------------------
    # Install & Run CSpell
    # -------------------------------------------------
    - name: Install CSpell
      run: |
        npm install -g cspell@latest
        cspell --version

    - name: Read extra cspell words from txt
      id: extra_cspell_words
      if: inputs.cspellExtraWords != ''
      run: |
        FILE="${{ inputs.cspellExtraWords }}"

        if [ ! -f "$FILE" ]; then
          echo "Extra cspell words file not found: $FILE"
          exit 1
        fi

        # Normalize:
        # - split by comma or newline
        # - trim spaces
        # - remove empty lines
        # - wrap each word with quotes
        WORDS=$(cat "$FILE" \
          | tr ',\n' '\n' \
          | sed 's/^[[:space:]]*//;s/[[:space:]]*$//' \
          | sed '/^$/d' \
          | sed 's/.*/"&"/' \
          | paste -sd, -)

        echo "json_words=$WORDS" >> $GITHUB_OUTPUT

    - name: Create custom cspell config
      run: |
        EXTRA_WORDS='${{ steps.extra_cspell_words.outputs.json_words }}'

        if [ -n "$EXTRA_WORDS" ]; then
          EXTRA_BLOCK=", $EXTRA_WORDS"
        else
          EXTRA_BLOCK=""
        fi

        cat > cspell.json <<EOF
        {
          "version": "0.2",
          "files": [
            "**/*.md",
            "**/*_en.yaml",
            "**/variables.yaml",
            "**/*.xhtml"
          ],
          "ignorePaths": [
            "**/*_de.md",
            "**/*_DE.md",
            "**/webContent/layouts/frame*.xhtml",
            "**/webContent/layouts/basic*.xhtml",
            "**/webContent/layouts/includes/*.xhtml"
          ],
          "words": [
            "AxonIvy", "axonactive", "ivy", "ivyteam", "wawa", "Up2date",
            "e2e", "panelgrid", "toggleable", "orderlist", "tablewrapper",
            "hoverable", "gridlines", "formgrid", "maxdate", "mindate",
            "chkbox", "confirmdialog", "maximizable", "outputlabel",
            "webcontent", "Unsorting", "nogutter", "navicon", "HANA",
            "Recordset", "Recordsets", "fileref", "newkey", "ESIGN",
            "keyout", "inkey", "Aspose", "primeflex", "primefaces",
            "dynaForm", "dyna", "Startable", "caseprocessviewer", "EMLX",
            "visualvm", "vertexai", "webservice", "apikey", "talentlink",
            "Successfactors", "statefuldatatable", "datatable", "Threema",
            "threemaid", "Keypair", "azureopenai", "Skribble", "SFTP",
            "rebex", "sshkey", "Keyphrase", "sshpassphrase", "patterndemos",
            "suneditor", "chartjs", "datalabels", "metaproc", "masterdetail",
            "Weblate", "mailstore", "XOAUTH", "sasl", "imap", "imaps",
            "clazz", "intellix", "Hubspot", "Genderize", "formeditordemos",
            "DocuWare", "filecabinetid", "DocuSign", "daemonless", "npipe",
            "docfactory", "deepl", "glassfish", "HSQL", "hsqldb", "Liquibase",
            "cmseditor", "casemailcomponent", "nbsp", "Servicebus", "axonivypdf",
            "axonivyexpress", "axonivycells", "approvaldecision", "Analyser",
            "chatbots", "aiassistant", "adobesign", "atrust", "SOQL",
            "HandySignatur", "handy-signatur", "SignaturBox", "Signatur-Box"
            $EXTRA_BLOCK
          ]
        }
        EOF

    - name: Debug cspell config
      run: |
        echo "===== cspell.json ====="
        cat cspell.json

    - name: Run CSpell - Spell Check
      run: |
        cspell lint --config cspell.json > spellcheck.txt


    - name: Upload Spell Check Results
      if: failure()
      uses: actions/upload-artifact@v4
      with:
        name: spellcheck-results
        path: spellcheck.txt
        if-no-files-found: warn