name: Reusable CI-Build

on: 
  workflow_call:
    inputs:
      mvnArgs:
        type: string
        required: false
      javaVersion:
        type: number
        default: 21
      mvnVersion:
        type: string
        default: 3.9.8
      ivyVersion:
        type: string
        default: dev
        description: the ivy version to use (e.g. dev/nightly/nightly-10/...)
      migrateToLatestIvyVersion :
        type: boolean
        default: false
    secrets:
      mvnArgs:
        required: false

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Check translations by non-weblate author
      run: |
        if [ -n "${{ github.event.pull_request.user.login }}" ]; then
          AUTHOR="${{ github.event.pull_request.user.login }}"
          EVENT_TYPE="pull_request"
        elif [ -n "${{ github.event.pusher.name }}" ]; then
          AUTHOR="${{ github.event.pusher.name }}"
          EVENT_TYPE="push"
        elif [ -n "${{ github.event.sender.login }}" ]; then
          AUTHOR="${{ github.event.sender.login }}"
          EVENT_TYPE="workflow_dispatch_or_other"
        else
          AUTHOR="${{ github.actor }}"
          EVENT_TYPE="fallback"
        fi

        if [ "$AUTHOR" = "weblate" ]; then
          echo "✓ Author is weblate, bypassing README_DE.md check"
        else
          echo "Author is not weblate ($AUTHOR), checking README_DE.md modifications"
          BASE_BRANCH="${{ github.event.repository.default_branch }}"

          git fetch origin $BASE_BRANCH
          if git ls-tree -r origin/$BASE_BRANCH --name-only | grep -q 'README_DE\.md$'; then
            if ! git diff --exit-code origin/$BASE_BRANCH...HEAD -- '**/README_DE.md'; then
              echo "⚠ ERROR: Modification of README_DE.md is not allowed."
              exit 1
            fi
          else
            echo "✓ README_DE.md does not exist on default branch, file can be created."
          fi
        fi

    - name: Setup Java JDK
      uses: actions/setup-java@v4
      with:
        java-version: ${{ inputs.javaVersion }}
        distribution: temurin

    - name: Setup Maven
      uses: stCarolas/setup-maven@v5
      with:
        maven-version: ${{ inputs.mvnVersion }}

    - name: Download latest ivy engine
      if: ! ${{ inputs.migrateToLatestIvyVersion}}
      run: |
        engineUrl="https://dev.axonivy.com/permalink/${{ inputs.ivyVersion }}/axonivy-engine.zip"
        workDir=$(pwd)
        DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )"
        if [ -z "$workDir" ]; then
          workDir=$(mktemp -d -t projectConvertXXX)
        fi
        if [ -z "$gitDir" ]; then
          gitDir="$DIR/repos"
          echo $(mkdir -v -p $DIR/repos)
        fi
        if ! [ -d "${workDir}/engine" ]; then
          echo "Downloading engine from ${engineUrl}"
          (cd "$workDir" && curl --progress-bar -L -O "${engineUrl}") 
          zipped=$(find "${workDir}" -maxdepth 1 -name "*.zip")
          unzip -qq "${zipped}" -d "${workDir}/engine"
          rm "${zipped}"
        fi
        echo "workDir=$workDir" >> $GITHUB_ENV

    - name: Convert projects to latest ivy version
      if: ! ${{ inputs.migrateToLatestIvyVersion}}
      run: |
        export IVY_JAVA_HOME=$JAVA_HOME_21_X64
        gitDir=$(pwd)
        gitName=$(basename ${gitDir})
        echo "Searching projects in ${gitDir}"
        projects=()
        for ivyPref in $(find ${gitDir} -name "ch.ivyteam.ivy.designer.prefs"); do
          project=$(dirname $(dirname $ivyPref))
          if ! [ -f "${project}/pom.xml" ]; then
            continue # prefs file not in natural project structure
          fi
          projects+=("${project}")
        done
        if [ ${#projects[@]} -gt 0 ]; then
          echo "Collected projects: ${projects[@]}"
          ${workDir}/engine/bin/EngineConfigCli migrate-project ${projects[@]}
        fi

    - name: Build with Maven
      run: mvn clean verify --batch-mode --fail-at-end ${{ inputs.mvnArgs }} ${{ secrets.mvnArgs }}

    - name: Check if test results exist
      id: check_test_files
      if: always() && (github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name == github.repository)
      run: |
        if [[ "${{ hashFiles('**/target/*-reports/*.xml') }}" != "" ]]; then
          echo "exists=true" >> $GITHUB_OUTPUT
        else
          echo "exists=false" >> $GITHUB_OUTPUT
        fi

    - name: Remove test summary files
      if: always() && steps.check_test_files.outputs.exists == 'true'
      run: rm -f **/target/*-reports/*-summary.xml

    - name: Publish Unit Test Results with dorny/test-reporter 
      id: test_report
      uses: dorny/test-reporter@v1.9.1
      if: always() && steps.check_test_files.outputs.exists == 'true'
      with:
        name: JUnit Test Results
        reporter: java-junit
        path: '**/target/*-reports/*.xml'
        fail-on-error: 'false'

    - name: Export test results to json file
      if: always() && steps.check_test_files.outputs.exists == 'true'
      run: |
        response=$(curl ${{ steps.test_report.outputs.url }})
        echo $response > test_report.json

    - name: Archive test json file
      uses: actions/upload-artifact@v4
      if: always() && steps.check_test_files.outputs.exists == 'true'
      with:
        name: export-test-json-file
        retention-days: 5
        path: 'test_report.json'

    - name: Publish Unit Test Results with EnricoMi
      uses: EnricoMi/publish-unit-test-result-action@v2
      if: always()
      with:
        files: |
          */target/*-reports/*.xml
          !*/target/*-reports/failsafe-summary.xml
        action_fail: true
  
    - name: Archive build artifact
      uses: actions/upload-artifact@v4
      with:
        path: |
          */target/*.iar
          */target/*-[0-9]*.jar
          *product/target/*.zip

    - name: Archive test reports
      uses: actions/upload-artifact@v4
      if: failure()
      with:
        name: test-reports
        retention-days: 5
        path: |
          */target/testEngineOut.log
          */target/selenide/*
          */target/ivyEngine/deploy/*/*.deploymentLog
