name: Dev-Build

on: 
  workflow_call:
    inputs:
      mvnArgs:
        type: string
        required: false
      ivyVersion:
        type: string
        default: dev
        description: the ivy version to use (e.g. dev/nightly/nightly-10/...)
      javaVersion:
        type: string
        default: 25
      mvnVersion:
        type: string
        default: 3.9.8
      ivyPluginVersion:
        type: string
        default: 14.0.0-SNAPSHOT
      ivyJavaHome:
        type: string
        default: $JAVA_HOME_25_X64
    secrets:
      mvnArgs:
        required: false

jobs:
  build:
    uses: axonivy-market/github-workflows/.github/workflows/ci.yml@v6
    with:
      mvnArgs: '"-Divy.engine.download.url=https://dev.axonivy.com/permalink/${{ inputs.ivyVersion }}/axonivy-engine.zip" "-Divy.engine.version=(12.0.0,]" "-Dproject.build.plugin.version=${{ inputs.ivyPluginVersion }}" ${{ inputs.mvnArgs }}'
      javaVersion: 25
      mvnVersion: 3.9.8
      ivyVersion: ${{ inputs.ivyVersion }}
      ivyJavaHome: $JAVA_HOME_25_X64
      migrateToLatestIvyVersion: true
    secrets:
      mvnArgs: '${{ secrets.mvnArgs }}'
